

<app-navi></app-navi>

<router-outlet></router-outlet>


<div style="height: 1500px;">
    moo
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo<br>
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
    moo
</div>